<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HumbleScroll Demo</title>
    <meta
      name="description"
      content="HumbleScroll is a lightweight animation on scroll Javascript library. It's easy to use and has no dependencies."
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/MathiasOxholm/humbleScroll@main/cdn/css/humbleScroll.min.css"
    />
  </head>
  <body class="bg-slate-900 text-slate-50">
    <slot />

    <script
      src="https://cdn.jsdelivr.net/gh/MathiasOxholm/humbleScroll@main/cdn/js/humbleScroll.js"
      is:inline
    ></script>
    <script src="/src/main.js"></script>
  </body>
</html>
